.page-id-96 {
  .banner .banner-content {
    .content-background::before {
      width: 56%;
      left: 27%;
    }

    h2 {
      left: 27%;
    }

    img {
      object-position: 65% 50%;
    }
  }

  // section 1
  .wp-block-media-text.is-stacked-on-mobile {
    // text
    div.wp-block-media-text__content {
      margin: 1rem auto;
      grid-column: 1;
      grid-row: 1;
      padding: 0;

      h2 {
        margin-bottom: 2.5rem;
      }
    }

    figure.wp-block-media-text__media {
      grid-column: 1;
      grid-row: 2;
      margin-bottom: 1.5rem;
      img {
        height: 335px;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  //section 2
  div.about-second-section {
    display: flex;
    flex-direction: column;

    .store-open-hr {
      margin: 3.5rem auto;
    }

    .store-info-image img {
      height: 335px;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  // 500px
  @include mq($tiny-m-mq) {
    div.about-second-section .store-info-image img,
    .wp-block-media-text.is-stacked-on-mobile
      figure.wp-block-media-text__media
      img {
      height: 500px;
    }
  }

  // 601px
  @include mq(37.5625em) {
    .wp-block-media-text.is-stacked-on-mobile {
      div.wp-block-media-text__content {
        grid-column: 1 / -1;
        grid-row: 1;
      }

      figure.wp-block-media-text__media {
        grid-column: 1 / -1;
        grid-row: 2;
      }
    }
  }

  // 768px
  @include mq($medium-mq) {
    .banner .banner-content {
      .content-background::before {
        left: 23%;
      }
    }

    .wp-block-media-text.is-stacked-on-mobile
      figure.wp-block-media-text__media
      img {
      object-position: 50% 15%;
    }
  }

  // 800px
  @include mq($medium-m-mq) {
    div.about-second-section {
      .store-info {
        margin: 0;
      }
    }
  }

  // 1024px
  @include mq($big-mq) {
    .wp-block-media-text.is-stacked-on-mobile {
      display: flex;
      gap: 2rem;

      div.wp-block-media-text__content {
      }

      figure.wp-block-media-text__media {
        order: -1;
        align-self: center;
        margin-top: 2.5rem;
        img {
          width: auto;
        }
      }
    }

    //section 2
    div.about-second-section {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-top: 3rem;

      .store-open-hr {
        margin: 3.5rem auto;
      }

      .store-info-image {
        order: 5;
        width: 1000px;

        img {
          margin-top: 1.5rem;
          object-position: 10% 50%;
          width: 100%;
        }
      }
    }
  }

  // 1080px
  @include mq($large-mq) {
    .wp-block-media-text.is-stacked-on-mobile,
    div.about-second-section {
      gap: 4rem;
    }
  }
}
