.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.entry-summary {
  width: 45%;
  margin-left: 1rem;
}
.single-product .entry-summary {
  p.price {
    // display: none;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.formContainer.hidden {
  display: none;
}

.delivery-info {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem;

  img {
    margin-right: 1rem;
  }
}
.woocommerce-breadcrumb {
  display: none;
}
