.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.entry-summary {
  // width: 45%;
  // margin-left: 1rem;
}
.single-product .entry-summary {
  p.price {
    // display: none;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.delivery-info {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  img {
    margin-right: 1rem;
  }

  @media screen and (min-width: 760px) {
    display: grid;
    grid-template-areas: "image image image text";

    img {
      grid-area: image;
      margin-right: 1rem;
    }

    div {
      margin: 0 0 0 1rem;
    }
  }
}

.woocommerce-breadcrumb {
  display: none;
}


