.sticky {
  display: block;
}


.post,
.page {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.entry-summary {
  @media screen and (min-width: 700px) {
    width: 45%;
    margin-left: 1rem;
  }
}
.single-product .entry-summary {
  p.price {
    // display: none;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.delivery-info {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  
  img {
    margin-right: 1rem;
  }
  
  @media screen and (min-width: 760px) {
    display: grid;
    grid-template-areas: "image image image text";

    img {
      grid-area: image;
      margin-right: 1rem;
    }

    div {
      margin: 0 0 0 1rem;
    }
  }
}

.woocommerce-breadcrumb {
  display: none;
}
.post-35 .entry-header .entry-title {
  // display: none;
}

ul.woocommerce-error {
  background-color: $primary-color;
  color: white;
  list-style-type: none;
}

div.woocommerce-message {
  background-color: white;
}

// Home page promotion CTA section margin in mobile ------------------------

@media screen and (max-width: 600px) {
  .home.page-id-35 {
    .content {
      .wp-block-media-text.is-stacked-on-mobile {
        margin-bottom: 2rem;
      }
    }
  }
}
// -------------------------- Products by category -------------------------------
// archive pages (all flowers/best sellers/seasonal collection)
.archive .site {
  ul.products li {
    a:nth-child(2) {
      margin-top: 1rem;
      @include btn;
    }
  }
}

//Home page best sellers and workshops
.theme-twentytwenty .wc-block-grid.has-4-columns .wc-block-grid__product,
.wc-block-grid.has-4-columns .wc-block-grid__product {
  zoom: 1.2;
}

//Subscription packages
.theme-twentytwenty .wc-block-grid.has-3-columns .wc-block-grid__product,
.wc-block-grid.has-3-columns .wc-block-grid__product {
  zoom: 1.2;
}

@include mq($medium-mq) {
  //Home page best sellers and workshops
  .theme-twentytwenty .wc-block-grid.has-4-columns .wc-block-grid__product,
  .wc-block-grid.has-4-columns .wc-block-grid__product {
    zoom: 1.4;
  }
  //Subscription packages
  .theme-twentytwenty .wc-block-grid.has-3-columns .wc-block-grid__product,
  .wc-block-grid.has-3-columns .wc-block-grid__product {
    zoom: 1.4;
  }
}

@include mq($huge-mq) {
  //Home page best sellers and workshops
  .theme-twentytwenty .wc-block-grid.has-4-columns .wc-block-grid__product,
  .wc-block-grid.has-4-columns .wc-block-grid__product {
    zoom: 2.3;
  }
  //Subscription packages
  .theme-twentytwenty .wc-block-grid.has-3-columns .wc-block-grid__product,
  .wc-block-grid.has-3-columns .wc-block-grid__product {
    zoom: 2.3;
  }
}
// --------------------------- Products by category ends-------------------------

// ------------------ Hide Edit link -----------------------
.entry-footer {
  display: none;
}
// ----------------- Hide Edit link ends------------------
