.formContainer.hidden {
  display: none;
}

.page-id-2 .wp-block-media-text {
  position: relative;
}

.formContainer {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  background-color: white;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

button.closeButton {
  align-self: self-end;
  background-color: red;
  text-align: center;
  font-weight: bold;
  padding-top: 0.4rem;
  color: white;
  border: none;

  // .close-bottom{
  //     margin-bottom: 2.5rem;
  // }
}
