.page-id-94 {
  .site-main {
    .our-offering {
      margin: 4.5rem auto;
    }

    .parking-info,
    .cancellation-policy {
      margin: 3rem 2rem 2rem 2rem;
    }

    .booking-calendar {
      margin: 3rem 1.5rem;
    }

    .cancellation-first,
    .cancellation-second {
      margin: auto 2rem;
    }

    .cancellation-second {
      margin-top: 1.5rem;
    }

    .parking-description {
      display: flex;
      flex-direction: column;
      .wp-block-media-text__content {
        order: -1;
        margin: auto 2rem 2.2rem 2rem;
        padding: 0;
        p {
          margin: auto 0;
        }
      }
    }

    // category list
    div.wp-block-product-category {
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    //booking calendar
    .wc-bookings-availability-header,
    .wc-bookings-availability-item-subheader {
      font-family: $font__heading;
    }
    .wc-bookings-availability-calendar.wc-bookings-availability-calendar-small {
      font-family: $font__main;
    }

    div.wp-block-columns.wp-container-core-columns-layout-1.wp-block-columns-is-layout-flex {
      // notice msg
      div.woocommerce-error.notice-empty {
        background-color: $primary-color;
        color: $color__background-body;
        font-family: $font__main;
      }

      ul.wc-bookings-availability-event-table {
        padding-left: 0;
        margin: 1.5rem 0.5rem;
        min-width: 284px;
      }

      //list
      .wc-bookings-availability-item-body {
        .wc-bookings-availability-item-information {
          font-size: 1rem;
          margin-right: 0;
        }
        .wp-block-button {
          button {
            @include btn;
            font-size: 1rem;
            padding: 0.6em 0.5em;
            min-width: unset;
          }
        }
      }
    }

    //400px
    @include mq(25em) {
      .booking-calendar {
        margin: 3rem 2rem 2rem 2rem;
      }

      div.wp-block-columns.wp-container-core-columns-layout-1.wp-block-columns-is-layout-flex {
        .wc-bookings-availability-calendar-container,
        ul.wc-bookings-availability-event-table,
        div.woocommerce-error.notice-empty {
          margin: auto 1rem;
        }

        ul.wc-bookings-availability-event-table {
          max-width: 368px;
        }

        .wc-bookings-availability-item-information {
          margin-right: 0;
        }
      }
    }

    //500px
    @include mq($tiny-m-mq) {
      div.wp-block-columns.wp-container-core-columns-layout-1.wp-block-columns-is-layout-flex {
        .wc-bookings-availability-calendar-container,
        ul.wc-bookings-availability-event-table,
        div.woocommerce-error.notice-empty {
          margin: auto 3rem;
        }

        .wc-bookings-availability-item-body {
          .wc-bookings-availability-item-information {
            margin-right: 1rem;
          }
          .wp-block-button {
            button {
              padding: 0.6em 1em;
            }
          }
        }
      }
    }

    //601px
    @include mq(37.5625em) {
      div.wp-block-product-category {
        margin: auto 1rem;
      }

      figure {
        margin: 2rem 6rem;
      }

      .cancellation-policy {
        margin-top: 2rem;
      }

      //booking calendar
      .wc-bookings-availability-header {
        margin: auto 2.5rem;
      }

      .components-popover__content {
        z-index: 100;
        button.wp-block-button__link.wc-bookings-availability-book-button {
          @include btn;
        }
      }

      div.wp-block-columns.wp-container-core-columns-layout-1.wp-block-columns-is-layout-flex {
        .wc-bookings-availability-calendar-container {
          margin: auto 2.5rem;
        }
      }
    }

    //768px
    @include mq($medium-mq) {
      section.content {
        margin: 0 3.75rem;
      }

      .our-offering {
        margin-bottom: 3rem;
      }

      .banner {
        p {
          margin-top: 2rem;
        }
      }

      .booking-calendar {
        margin-top: 2rem;
      }

      .booking-calendar,
      .parking-info,
      .cancellation-policy {
        text-align: left;
      }

      p {
        margin: auto 0;
      }

      figure {
        margin-top: 1rem;
      }
    }

    //800px
    @include mq($medium-m-mq) {
      .parking-description {
        flex-direction: row;

        figure {
          margin: 0;
          img {
            width: 300px;
            height: auto;
          }
        }
      }
    }

    //990px
    @include mq(61.875em) {
      .parking-description {
        margin: auto;
        max-width: 1000px;
        .wp-block-media-text__content {
          margin: 0 3rem auto 0;
          align-self: unset;
        }

        figure {
          img {
            width: 400px;
            height: auto;
          }
        }
      }

      .booking-calendar,
      .parking-info,
      .cancellation-policy,
      .cancellation-first,
      .cancellation-second {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }

      //booking calendar
      div.wp-block-columns.wp-container-core-columns-layout-1.wp-block-columns-is-layout-flex {
        .wc-bookings-availability-calendar-container,
        .wc-bookings-availability-header {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    //1155px
    @include mq(72.1875em) {
      div.wp-block-product-category {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

// single workshop product
.single-product {
  main {
    div.product_cat-workshops {
      .summary {
        form {
          // field: date picker
          .wc-bookings-date-picker .ui-datepicker td.bookable a {
            background-color: $date-picker-color !important;
          }

          .wc-bookings-date-picker
            .ui-datepicker
            td.bookable-range
            .ui-state-default {
            background-color: $date-picker-select-color !important;
            color: $color__background-body;
          }

          ul.block-picker {
            a {
              background-color: $date-picker-color !important;
              color: $color__background-body;
            }

            a.selected {
              background-color: $date-picker-select-color !important;
            }
          }

          // hide add to wishlist btn
          div.woocommerce.wl-button-wrap {
            display: none;
          }

          // add to cart btn
          button.wc-bookings-booking-form-button {
            visibility: hidden;
            padding-left: 0;
          }

          button.wc-bookings-booking-form-button::before {
            content: "Add to cart";
            visibility: visible;
            display: block;
            @include btn;
          }

          button.wc-bookings-booking-form-button:hover::before {
            background-color: $color__background-button-hover;
          }

          //800px
          @include mq($medium-m-mq) {
            // booking btn
            button.wc-bookings-booking-form-button {
              width: 50%;
            }
          }

          //1306px
          @include mq(81.625em) {
            // booking btn
            button.wc-bookings-booking-form-button {
              width: 191.641px;
            }
          }
        }
      }
    }
  }
}
