
/* ________Typography__________________________ */

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif;
    font-size: 1.25rem;
    color: #000000;
    font-weight: 400;
    line-height: 1.75;
    background: rgb(118,197,255);
    background: linear-gradient(90deg, rgba(118,197,255,1) 6%, rgba(229,171,255,1) 100%);    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 3rem .75rem;
    max-width: 70.625rem;
    margin: 0 auto;
}

header,
main{
    background-color: #ff3366a6;
    padding: 2rem 1.5rem;
}

header {
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
}


/* ______Links_____________________________________ */


a, 
a:visited {
    color: #2EC4B6; 
    text-decoration: none;
}

.introduction a,
.introduction a:visited {
    color: #011627; 
    text-decoration: underline;
}

a:hover {
    border-radius: .5rem;
    padding: .5rem;
    color: #ff0000;    
    background-color: #2EC4B6;
    transition: .3s;
}

#contact-me a:hover {
    border-radius: .5rem;
    color: #ff0000;    
    background-color: #2EC4B6;
    transition: .3s;
}

a:focus,
.nav-wrapper a:focus {
    outline: double .3rem rgba(229,171,255,1);
    outline-offset: .4rem;
    border-radius: .3rem;
    color: #ff0000;
}


/* _____Header______________________________________ */


h1,
h2 {
    border: 1rem outset dimgray;
    border-radius: 1.5rem;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: #30d3c3;
    padding-right: 1.8rem;
    padding-left: 1rem;
    box-shadow: .4rem .5rem rgba(229,171,255,1);
    color: #011627;
    text-align: center;
    font-size: 2.5rem;
}

h1 img,
h2 img {
    max-width: 8rem;
    height: auto;
    padding-left: 0;
    padding-right: .6rem;
    
}

.nav-wrap ul li {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    margin: .5rem;
    list-style-type: none;
    background-color: #011627;
    border-radius: .5rem;
    padding: .5rem;
    border: 1rem outset silver;
    text-align: center;
    box-shadow: .5rem .6rem #2ec4b58d;
}

.nav-wrapper a {
    color: black;
    line-height: 4.5rem;
    margin: .2rem;
    padding: .50rem 3rem;
    background-color: #2EC4B6;
    border: solid #000000;
    border-radius: .5rem;
    text-decoration: none;
}


ul {
    padding: .1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 55.5rem;
    margin: 0 auto;
}


/* ______Body_____________________________________ */


.site-wrap {
    border: .3rem solid #011627;
    border-radius: 1rem;
    box-shadow: .5rem .6rem #011627;
    background-color: seashell;
}

section, 
aside{
    padding: .5rem;
}

#top {
    font-weight: 600;
    /* padding: 3rem; */
}


/* _____MAIN______________________________________ */


.introduction {
    align-items: flex-start;
    font-size: x-large;
    flex-direction: column;
    align-content: space-around;
}

.introduction p {
   text-indent: 3rem;
}


/* ____Aside___(main)____________________________ */

aside {
    border-radius: .5rem;
    border: 1rem outset silver;
    background-color: #011627;
    padding: 1.2rem 1rem 1rem 1rem;
    box-shadow: .5rem .6rem #2ec4b58d;
    max-width: 30rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

aside h3 {
    text-align: center;
    color: #2EC4B6;
    font-size: xx-large;
    margin: 1rem;
} 

aside h4 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 0.5rem 0 1rem .5rem;
    max-width: 8rem;
}

.quest-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.quest-content a {
    margin: 1rem
}

.quest-content img {
    max-width: 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 1.5rem 0 1.7rem;
}


/* ______Project Section___(main)_____________________________ */


#project-retreats h3 {
    text-align: center;
    margin: .5rem;
}

.project-wrap {
    border-radius: .5rem;
    border: 1rem outset silver;
    background-color: #011627;
    box-shadow: .5rem .6rem #2ec4b58d;
    margin: 0 auto;
    margin-bottom: 2rem;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 50rem;
    flex-direction: row; */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;

}

.project-wrap a {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 3.5rem;
    width: fit-content;
    height: 20rem;
}


.project-wrap article {
    display: flex;
    flex-direction: column;
    align-content: baseline;
 }
 

.project-wrap img {
    max-width: 9rem;
    justify-self: center;
    padding: 0 1.5rem 0 1.5rem;
}

@media(min-width: 32rem) {

    .project-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        
    }
}

@media(min-width: 50em) {
    
    .host-background {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .introduction {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 75%;
        padding: 1.8rem;
    }
    
    .side-quest-wrap {
        max-width: 25%
    } 

    h1,
    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        justify-items: center;
    }

    .project-wrap article {
       display: flex;
       flex-direction: column;
       align-content: center;
    }
    
}

@media(max-width: 23em) /*23=368px*/ {

    .introduction {
        display: block;
        justify-content: flex-start;
        width: 100%;
    }

    .quest-content {
        display: block;
        justify-content: flex-start;
        width: 100%;
    }
}


/* _____Communication_____(main)_________________________________ */


#contact-me div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: .5rem;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
    font-size: large;
}

#contact-me a {
    padding: 1rem 1rem;
    background-color: #011627;
    border-radius: .5rem;
    border: 1rem outset silver;
    box-shadow: .5rem .6rem rgba(229,171,255,1);
    font-size: large;
}

#contact-me p {
    text-align: center;
}

#contact-me h3 {
    text-align: center;
}

.topbtn {
    padding: .5rem;
    margin: 0.5rem;
    background-color: #011627;
    border-radius: 0.5rem;
    box-shadow: .3rem .4rem rgba(229,171,255,1);
    font-size: medium;
    border: 1rem outset silver;
    text-align: center;

    display: block;
    width: 10rem;
    margin: 0 auto;
}


/* _____Footer__________________________________________________ */


footer{
    background-color: #30d3c3;
    display: block;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    padding-bottom: 1rem;
    padding-top: 0;
    border-top: solid .3rem #011627;
}    


footer p{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
}



