// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

@mixin btn {
  background-color: $color__background-button;
  color: white;
  padding: 14px;
  text-align: center;
  border-radius: 0.1rem;
}

@mixin related-btn {
  display: block;
  color: white;
  background-color: black;
  margin: 0.8rem 0;
  padding: 0.5rem 0;
  border: black 0.1rem;
  border-radius: 3px;
}
