// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// "@include btn" uder the class you want to use
@mixin btn {
  border-radius: 3px;
  background: $color__background-button;
  color: $color__background-body;
  line-height: 1;
  text-align: center;
  padding: 0.6em 1em;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    background: $color__background-button-hover;
  }

  &:focus,
  &:visited {
    background: $color__background-button;
  }
}

//link that don't need btn style
@mixin text-link {
  color: $date-picker-select-color;

  &:hover,
  &:active {
    color: $date-picker-color;
  }

  &:focus,
  &:visited {
    color: $date-picker-select-color;
  }
}
