.site .site-footer {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  background-color: rgb(49, 36, 36);
  color: white;
  ul,
  li {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .site-logo {
    ul {
      margin-bottom: 0;
    }
    img {
      max-width: 6rem;
			color: white:
    }
    h4 {
      margin-top: 0;
      margin-bottom: 4rem;
    }
  }

  .footer-navigation,
  .open-hr,
  .contact-us {
    margin-bottom: 4rem;
  }

  .open-hr {
    &-weekdays {
      margin-bottom: 0;
    }
    &-weekend {
      margin-top: 0.5rem;
    }
  }

  .contact-us {
    .address-1 {
      margin-bottom: 0;
    }
    .address-2 {
      margin-top: 0;
    }
  }
  //500px
  @media screen and (min-width: 31.25em) {
    .site-info {
      margin: 0 1.5rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left;
      .site-logo {
        ul,
        h4 {
          text-align: center;
        }
        img {
          margin-top: 1.3em;
        }
      }

      .site-logo,
      .footer-navigation,
      .open-hr,
      .contact-us {
        width: 13.32rem;
      }
    }
  }
  //596px
  @media screen and (min-width: 37.25em) {
    .site-info {
      margin: 0 3rem;
    }
  }
  //736
  @media screen and (min-width: 46em) {
    .site-info {
      gap: 3rem;

      .site-logo,
      .footer-navigation,
      .open-hr,
      .contact-us {
        width: auto;
      }
    }
  }
  //949px
  @media screen and (min-width: 59.3125em) {
    .site-info {
      margin: 0 3rem;
    }
  }
  //1117px
  @media screen and (min-width: 59.3125em) {
    .site-info {
      margin: 0 auto;
      max-width: 63.8125rem;
    }
  }
}
