.site .site-footer {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  background-color: #00697b;
  color: white;
  ul,
  li {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h2 {
    font-size: 1.2rem;
  }

  .site-logo {
    ul {
      margin-bottom: 0;
    }
    img {
      max-width: 10rem;
    }
  }

  .footer-navigation,
  .open-hr,
  .contact-us {
    margin-bottom: 4rem;
  }

  .footer-navigation {
    .menu-footer-menu-container {
      ul#menu-footer-menu-1 li {
        margin-bottom: 0.7rem;
      }
    }
  }

  .open-hr {
    &-weekdays {
      margin-bottom: 0;
    }
    &-weekend {
      margin-top: 0.5rem;
    }
  }

  .contact-us {
    p {
      margin-bottom: 0;
    }

    .footer-address {
      margin: 1rem auto 2rem auto;
      width: 250px;
    }
  }

  p.footer-copyright {
    margin-bottom: 0.5rem;
  }

  p.footer-edu {
    padding-bottom: 2rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  //521px
  @include mq(32.5625em) {
    .site-info {
      margin: 0 auto 0 8rem;
      display: flex;
      justify-content: start;
      gap: 1rem;
      flex-wrap: wrap;
      text-align: left;
      .site-logo {
        ul,
        h4 {
          text-align: center;
        }
        img {
          margin-top: 1.3em;
        }
      }
    }
  }
  //596px
  @media (min-width: 37.25em) {
    .site-info {
      margin: 0 3rem;
      gap: 1.3rem;
    }
  }

  //864px
  @media (min-width: 54em) {
    .site-info {
      justify-content: space-between;
    }
  }
  //1117px
  @media (min-width: 69.8125em) {
    .site-info {
      margin: 0 auto;
      max-width: 63.8125rem;
    }
  }
}
