.site .site-header {
  background-color: #f5e7df;
  padding: 1rem 3rem;
  color: #462626;
  ul,
  li {
    margin-left: 0;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  .first-layer {
    // display: grid;
    align-items: center;
    // grid-template-columns: 1fr minmax(10rem, auto) 1fr;
    display: flex;
    justify-content: end;
    gap: 23rem;

    .site-logo {
      img {
        max-width: 5rem;
      }
      ul {
        margin-bottom: 0;
      }
      h3 {
        margin-top: 0;
      }
    }

    .login-cart-menu {
      width: auto;
      li {
        margin-left: 1rem;
      }
    }
  }

  .second-layer {
    margin: 0.3rem auto;
    #primary-menu {
      justify-content: center;
      gap: 1.5rem;
    }
  }
}
