.page-id-35,
.page-id-58,
.page-id-2 {
  main {
    margin: 0;
  }
  main .banner {
    margin: 0;
  }
  article,
  section .testimonials {
    margin: 0 1.25rem;
  }
  @media screen and (min-width: 50em) {
    article,
    section,
    .testimonials {
      margin: 0 8.75rem;
    }
  }
}
