// Media Query Mixin (please use breakpoints below)
@mixin mq($w) {
  @media (min-width: $w) {
    @content;
  }
}

$size__site-main: 100%;
$size__site-sidebar: 25%;

// Media Query Breakpoints
$tiny-m-mq: 31.25em; //500px
$small-mq: 40em; //640px
$medium-mq: 48em; //768px
$medium-m-mq: 50em; //800px
$big-mq: 64em; //1024px
$large-mq: 80em; //1280px
$huge-mq: 120em; //1920px

//* How to use: *
// @include mq($medium-mq) {
//   .class {
//     padding: 2rem 4rem;
//   }
// }

//* Custom media query: *
// @include mq(40em) {
//   .class {
//     padding: 2rem 4rem;
//   }
// }
